:root{
    --white: #FFFFFF;
    --gray:#F5F5F5;
    --green: #168371;
    --dark: #37474F;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #168371;
    height: 100vh;
    width: 100%;
}

#navbar{
    
    background-color: #F5F5F5;
    width: 100%;
    padding: 10px;
    justify-items: center;


}

#logo{
    width: 15%;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
 
}

#first-page{
    display: flex;
    justify-content: space-between;
    padding: 5% 10%;
    align-items: center;
    gap: 30px;
   

}

#wrapp{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 5% 10%;
    align-items: center;
    gap: 50px;


}



#first-img{
    width: 30%;
}


.first-title{
    font-size: 40px;
    font-weight: bold;
}


#greentext{
    color: #F5F5F5;
}

#imitat-p{
    font-size: 18px;
    padding-top: 10px;
    color: #F5F5F5;
    line-height:40px;    


}

#level1{
    background-color:#37474F;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    border-radius: 20px;
}

#button1{
    padding: 60px;
}

#linkstart{
    text-decoration: none;
    color: #F5F5F5;
}

#linkstart:hover{
    color: #168371;
    
}


#footer1{
    background-color: #37474F;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
}

#rights{
    color: #F5F5F5;
    font-size: 10px;
}

li {
    color: #F5F5F5;

    font-size: 18px;

    line-height: 30px;
}






@media only screen and (min-device-width: 0px) and (max-device-width:480px){

    #first-page{

        flex-wrap: wrap;
        padding: 17.5% 11%;
       
    }

    #first-img {
        width: 100%;
    }

    #logo{
        width: 70%;
        padding-left: 75px;
     
    }

    .first-title {
        font-size: 25px;
        }

    #imitat-p {
        font-size: 13px;
        line-height: 20px;
    }
    #wrapp {
        display: flex;
        flex-direction: column;}

    #level1{
        font-size: 15px;
        padding: 10px;
        border-radius: 05px;
        margin-top: 0px;
        margin-left: 0px;}

        li {
            font-size: 13px;
            line-height: 20px;
        }

     
        

    #button1 {
        padding: 40px;
        display: flex;
        align-content: center;
        justify-content: center;
    }


    #rights{
        font-size: 6px;
    }
    





}



@media only screen and (min-device-width: 481px) and (max-device-width:768px){


    
    #first-img {
        width: 300px;
                float:right;
        }

    #logo {
        width: 20%;
        padding-left: 35px;
    }

    .first-title {
        font-size: 25px;
    }

        #imitat-p {
    
        
            font-size: 13px;
    line-height: 19px;}

            #level1{
            }

            #button1 {
                padding: 0px;
            }

            #left-div{
                padding-top: 20px;
            }

            #first-page {
                padding: 4.2% 6%;
                                    }

            #level1{
                font-size: 15px;
                padding: 15px;
                border-radius: 15px;
                margin-top: 50px;
                margin-left: 20px;
            }

            #first-page {
                justify-content: space-between;
            }

            #wrapp{
                flex-direction: row-reverse;
    align-items: flex-start;
            }
            li{
                   
            font-size: 13px;
            line-height: 19px;}

      





}
